@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700&display=swap');
* 
{
    margin: 0;
    font-family: 'Kaisei Tokumin', serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9AD77;
}
header .logo {
    position: relative;
    max-width: 80px;
}
header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
