@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700&display=swap');
* 
{
    margin: 0;
    font-family: 'Kaisei Tokumin', serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    min-height: 140vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4798d3;
}
header .logo {
    position: relative;
    max-width: 80px;
}
header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

footer {
   position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4798d3;
}
footer .logo {
    position: relative;
    max-width: 80px;
}

.footer li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.footer li img {
    max-width: 80px;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: #D98D30;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox p {
  color: #333;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background-color: #D98D30;
  color: #fff;
  border-radius: 40px;
  letter-spacing: 1px;
  text-decoration: none;
}

.content .textBox img {
  max-width: 340px;
}