@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700&display=swap");
* {
  margin: 0;
  font-family: "Kaisei Tokumin", serif;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4798d3;
}
header .logo {
  position: relative;
  max-width: 80px;
}
header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4798d3;
}
footer .logo {
  position: relative;
  max-width: 80px;
}
.footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
}

.footer li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.footer li img {
  max-width: 80px;
}

input {
  max-width: fit-content;
  text-align: center;
}
.senha1 {
  max-width: fit-content;
  text-align: center;
  position: relative;
  font-size: 30px;
  left: 300px;
  bottom: 200px;
}
.senha {
  text-align: center;
}

.senhacom {
  text-align: center;
}

.insira {
  text-align: center;
}

.novamente {
  text-align: center;
}
